body{margin: 0; padding-top: 800px; text-align: center;}
.picture{border-radius: 50%;
height: 300px;
width: 300px;}
#welcome{position: absolute;z-index: 10;
    ;
bottom: 0;
display: table; width: 100%;
background: linear-gradient(rgb(239, 168, 223) 0%,rgb(221, 46, 160) 100%);
height: 100%;}
.section1{display: table-cell ; vertical-align: middle;}
.hi{background-color: black; height: 5px; width: 60px;margin:8px auto}
#bio{padding: 100px;}
.menu{list-style: none ; top: 0px ; right: 30px;z-index: 30; cursor: pointer;
    margin-left: 15px;
position: fixed; background-color: rgb(229, 96, 189); width: 100%;
margin-top: 0px;}
.links{float: left;padding-top: 5px;padding-bottom: 5px;padding-left: 20px;padding-right: 10px;font-size: 25px;}
#name{font-family: 'BhuTuka Expanded One', cursive;}
a{text-decoration: none;}
.links:hover{font-size: 35px; background-color: rgb(255, 143, 216);}
.contact h3{display: inline;}